---
// Frontmatter script space where you can write JavaScript for your Astro component
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'

// Define your variables here
const pageTitle = "About Me";
const identity = {
    firstName: "Nick",
    country: "United States",
    occupation: "Application Developer",
    hobbies: ["Pacers Basketball", "Reading", "Gaming", "Music"],
};
const skills = ["HTML", "Javascript", "CSS", "Python", "DevOps", "React", "SQL", "APIs"];

// You can also define styles as a string that you'll inject into your component
const customStyles = `
    h3 { color: purple; font-size: 4rem; }
    .skill { color: pink; font-weight: bold; }
`;

const imagePath = '/kitfisto.jpg';
---
<BaseLayout pageTitle={pageTitle} customStyles={customStyles}>
    <div class="content-container">
        <div class="text-content">
            <p>I am using Astro's intro tutorial for this website to start</p>
            <p>Here are a few facts about me:</p>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
                {identity.hobbies.length >= 2 &&
                    <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
                }
            </ul>
            <p>My skills are:</p>
            <ul>
                {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>
        </div>
        <div class="image-content">
            <img src={imagePath} alt="Descriptive text about image" />
        </div>
    </div>
</BaseLayout>
